.DS_Store
node_modules
public
uploads/*/*
!uploads/avatars/default.png
!uploads/images/lesson.png
!uploads/images/video.png
!uploads/images/user.png
# local env files
.env.local
.env.*.local
.env
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
